/* You can add global styles to this file, and also import other style files */

label.xng-breadcrumb-trail {
  color: orange;
  text-transform:capitalize;
}

a.xng-breadcrumb-link {
  text-transform:capitalize;
}
